# Общие игнорируемые файлы
*.py[cod]
*$py.class
*.so
*.swp
*.swo
.DS_Store
*.log

# Директории
__pycache__/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Файлы зависимостей и сборки
build/
dist/
*.egg-info/
*.egg
.coverage
htmlcov/

# Базы данных и миграции
*.sqlite3
*.sqlite3-journal
/migrations/versions/*
!/migrations/versions/.gitkeep

# Файлы окружения и конфигурации
.env
.env.local
.env.*.local
secrets.ini

# Файлы редакторов и IDE
.ropeproject
.spyderproject
.spyproject

# Файлы пакетных менеджеров
Pipfile.lock
poetry.lock
pdm.lock
uv.lock